
.category-div{
    background: #f7ecde;
    display: flex;
    margin-bottom: 1rem;

}
.btn-category {
    width: 120px;
    ;
   border: .5px solid ;
  display: inline;
  
   height: auto;
   flex-shrink: 1;
   text-align: center;
   align-items: center;
   padding: 1rem;
   
   background: #18978F;
   color: #f7ecde;
   font-size: .9rem;
 
   margin-right: .1rem;
   margin-left: 2rem;
   position: sticky;
   
   
}
.btn-category:hover {
    transition: all .2s ease-in;
    background-color: #18978F;
    color:#f7ecde;
}