
.category-div{
    background: #f7ecde;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}
.category-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.categories {
    text-align: center;
    padding: .5rem;
    background: #18978F;
    color: #f7ecde;
    font-size: .9rem;
    width: 120px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.categories:hover{
    transition: all .2s ease;
    color: #f7ecde;
}


.categories svg{
    width: 25px !important;
}

.categories span {
    color: #f7ecde !important;
    margin: 0.5rem 0 0;
    font-size: 0.8rem;
}
.category-link{
    margin: 0.5rem;
}

.btn-category:hover {
    transition: all .2s ease-in;
    background-color: #18978F;
    color:#f7ecde;
}