 .footer {
    width: 100%;
    
    padding: 1rem;
    
   color: #fff;
    
    background: #18978F;
   
 }
 .footer .footer-container {
    width: 100%;
    margin: auto;
    display: flex;  
    
 }
 .footer .right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;

 }
 .footer h4 {
    font-size: 1.4rem;
    padding: 0 0 .5rem;
 }
 .footer p{
    font-size: 1.4rem;
    padding: 1rem 0;
 }
 .footer .social{
    padding-top: 20px;
    background:transparent;

 }

 .footer-element{
   width: 20%;
   padding: 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

.footer-element svg {
    height: 30px;
    width: 30px;
}

.footer-element__text, .footer-element__text * {
    font-size: 1rem !important;
    font-weight: 400;
}

.footer-element.about {
    flex-direction: column;
}

.footer-element.about h5 {
    font-weight: 400;
}


.footer-element.about h4 {
    font-weight: 500;
}

 .footer .location h5{
    padding-bottom: .5rem;
 }
 .footer .location h4{
    padding-bottom: 0;
 }
 @media screen and (max-width: 650px){
    .footer-container {
        grid-template-columns: 1fr;
    }
    .right .social {
        margin: auto;
    }
 }
 