
.hero {
   display: flex;
   width: auto;
   height: 100vh;
   margin-top: 90px;
   background: #f7ecde;
   
}
.btn-start{
   width: 120px;
   border: none;
   border-radius: 50px;
   text-align: center;
   align-items: center;
   padding: 1rem;
   background: #18978F;
   color: #f7ecde;
   font-size: 1rem;
}
.btn-start:hover{
   transition: ease-in .3s;
   border:#18978F 2px solid;
   background: transparent;
   color: #18978F;

}

.doc-img{
   margin-top: 6rem;
   margin-right: 2rem;
}
#hero-img{
   margin-top: 2rem;
   width: 600px;
   height: 300px;
   
   
}
.hero-container {
   display: flex;
   justify-content: space-around
   ;
}
.hero .content {
   text-align: left;
   margin-top: 20px;
   font-family: 'Inter';
   display: column;
   padding: 5px 0 7px 30px;
}
.content .span{
   color: #18978F;
}

.hero .title {
   font-size:1.3rem;
   padding-bottom: 10px;
}
.hero .headline {
    font-size:3rem ;
    font-weight: 500;
 }
 .hero .note {
    font-size: 1.5rem;
    width: 70%;
 }

 

 .hero .button{    
    width: auto;
    display: flex;
    margin-top: 1rem;
    
 }
 .hero span{
    color: #066163;
 }




    
