.signup .card-container .card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    color: orange;
    

}



.btn-submit {
    width: 63%;
    height: 50px;
    background: #26343D;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem;
  }

  .signup .card-container .card .returning-user input{
    width: 200px;
    height: 20px;
  }

  .email {
    width: 20px;
  }
  
