.signup .card-container .card{
    display:flex;
    flex-direction: column;
    width: 700px;
    padding-left: 2rem;
    margin-top: 3rem;

}
h2 {
    margin-bottom: 2rem;
}


.btn-submit {
    width: 63%;
    height: 50px;
    background: #26343D;
    color: white;
    cursor: pointer;
    
    padding: 0.5rem 2.5rem;
    transition: all 0.3s ease-in-out;
  }

  .signup .card-container .card .returning-user input{
    width: 500px;
  }
  
