.search-container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-input {
  width: 100%;
  padding: 1rem 0 0;
  display:flex;
  /* flex-direction: column; */
  gap: .5rem;
}
.search-input .input {
  width: 80% !important;
  height: 40px;
  border-radius: 40px;
  border: 1px #18978F solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: .9rem;
  margin-bottom: 1rem;
  outline: none;
  padding-left: .5rem;
}

.btn-filter {
  width: 20%;
  border:none;
  height: 40px;
  font-size: 17px;
  background: #18978F;
  color: #F7ecde;
  border-radius: 40px;
}
.btn-filter:hover {
  transition: all 0.2s ease-in; 

}
.dropdown {
  background-color: #F7ecde;
  display: flex;
  flex-direction: column;
  border: 1px solid #18978F;
}

.dropdown:empty {
  border: none;
}
.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 220px;
}

.search-inner {
  display: flex;
}
