.input {
    background: #F7ecde;
    width: 100%;
    padding: 1rem 0 0;
}
input {
    width: 80% !important;
    height: 40px;
    border-radius: 4px;
    border: 1px #18978F solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 12px;
    margin-bottom: 1rem;
    outline: none;
  }

  .btn-filter {
    width: 20%;
    border:none;
    height: 40px;
    font-size: 17px;
    background: #18978F;
    color: #F7ecde;
    border-radius: 40px;
  }
  .btn-filter:hover {
    transition: all 0.2s ease-in; 

  }
